API_BASE_URL=*****

COGNITO_REGION=*****
COGNITO_USER_POOL_ID=*****
COGNITO_CLIENT_ID=*****
COGNITO_CLIENT_SECRET=*****
COGNITO_JWKS_URI=*****
COGNITO_ISSUER=*****

TEST_USER_EMAIL=*****
TEST_USER_PASSWORD=*****
TEST_USER_NAME=*****

TEST_VIEWER_EMAIL=*****
TEST_VIEWER_PASSWORD=*****

S3_ORIGIN=*****
