@import "tailwindcss";

/* 親要素に .dark クラスがある場合はダークモード用のスタイルを適用する */
@custom-variant dark (&:where(.dark, .dark *));

/* frontend/ 以下を全スキャン */
@source "../../";

/* 全体の変数定義 */
:root {
  --background: #ffffef;
  --foreground: #333333;
  --translucent: #ffffff80;
  --background-normal: #ffffef;
  --background-accent: #fdf3dc;
  --modal-back: #ffffefcc;
  --light-dark: #ffffff;
  --line-gray: #cccccc;
  --cancel-back: #ffffff;
  --cancel-hover: #cccccc;
  --login-form: #ffffff;
  --accent-orange-radio: #e87116;
  --accent-pink: #ff4f4f;
  --calender-head: #fffc9f;
}

.dark {
  color-scheme: dark;

  --background: #09022a;
  --foreground: #f2f2f2;
  --translucent: #0d1f59cc;
  --background-normal: #0d032f;
  --background-accent: #0e164c;
  --modal-back: #060020d9;
  --light-dark: #1e1b2d;
  --line-gray: #555555;
  --cancel-back: #cccccc;
  --cancel-hover: #aaaaaa;
  --login-form: #1f1448;
  --accent-orange-radio: #8e0303;
  --accent-pink: #aa0707;
  --calender-head: #0a0e55;
}

/* tailwind用の変数定義 */
@theme {
  --font-sans: var(--font-m-plus-rounded), sans-serif;
  --font-title: var(--font-zen-maru-gothic), sans-serif;

  --color-translucent: var(--translucent);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-background-normal: var(--background-normal);
  --color-background-accent: var(--background-accent);

  --color-modal-back: var(--modal-back);
  --color-light-dark: var(--light-dark);

  --color-cancel-back: var(--cancel-back);
  --color-cancel-hover: var(--cancel-hover);

  --color-login-form: var(--login-form);

  --color-white-back: #ffffef;

  --color-black-text: #333333;

  --color-brown-light: #d07800;
  --color-brown-middle: #a56f0c;
  --color-brown-dark: #6f4000;
  --color-warning: #900521;
  --color-warning-hover: #ff365e;
  --color-warning-back: #d80000;

  --color-success: #258210;
  --color-success-back: #d8ffd0;

  --color-brown-back: #fdf3dc;

  --color-note-gray: #888888;

  --color-accent-pink: var(--accent-pink);
  --color-accent-pink-back: #ffd5c7;

  --color-accent-brown-back: #fef0b5;
  --color-green-back: #feffd8;
  --color-green-accent: #6c6c00;

  --color-line-gray: var(--line-gray);
  --color-disabled-back: #eeeeee;
  --color-disabled-text: #aaaaaa;

  --color-accent-orange: #ffa600;
  --color-accent-orange-back: #fdefca;
  --color-accent-orange-radio: var(--accent-orange-radio);

  --color-remove: #cd193d;
  --color-remove-back: #ffeee1;

  /* 育児記録 */
  --color-meal-border: #db9c26;
  --color-meal-text: #e88427;
  --color-milk-border: #d1cb32;
  --color-milk-text: #bb6c01;
  --color-diaper-border: #26b5db;
  --color-diaper-text: #026f8c;
  --color-health-border: #4adb26;
  --color-health-text: #538c02;
  --color-growth-border: #db5926;
  --color-growth-text: #f64646;

  --color-calender-head: var(--calender-head);

  /* グラフ */
  --color-graph-border-height: #db9c26;
  --color-graph-border-weight: #d1cb32;
  --color-graph-border-diaper: #26b5db;
  --color-graph-border-milk: #4adb26;
  --color-graph-border-word: #db5926;

  /* ダークモード限定 */
  --color-dark-image-back: #12131f;
  --color-dark-video-back: #121b1f;
  --color-dark-calender: #090a2b40;

  /* かんたんモード */
  --color-menu-home-bg: #fff3e0;
  --color-menu-home-border: #db9c26;

  --color-menu-image-bg: #eef9fc;
  --color-menu-image-border: #26b5db;

  --color-menu-video-bg: #f1fcee;
  --color-menu-video-border: #4adb26;

  --color-menu-album-bg: #fdf3dc;
  --color-menu-album-border: #6f4000;

  --color-menu-favorite-bg: #fcf0ee;
  --color-menu-favorite-border: #db5926;

  --color-menu-graph-bg: #fffdcf;
  --color-menu-graph-border: #d1cb32;

  --color-menu-first-bg: #d2f3d5;
  --color-menu-first-border: #759c68;

  --color-menu-word-bg: #cceff7;
  --color-menu-word-border: #026f8c;

  --color-menu-settings-bg: #eeeeee;
  --color-menu-settings-border: #555555;

  /* アニメーション */
  --animate-fade-slideshow: fade-slideshow 30s infinite;

  /* コンテナクエリのブレークポイントを画面幅のブレークポイントと統一する */
  --container-sm: 40rem; /* 640px */
  --container-md: 48rem; /* 768px */
  --container-lg: 64rem; /* 1024px */
  --container-xl: 80rem; /* 1280px */
  --container-2xl: 96rem; /* 1536px */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fade-slideshow {
  0%,
  13% {
    opacity: 1;
    z-index: 10;
  }
  17%,
  96% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
