@import "tailwindcss";
/* frontend/ 以下を全スキャン */
@source "../../";

/* 全体の変数定義 */
:root {
  --background: #ffffe7;
  --foreground: #333333;
}

/* tailwind用の変数定義 */
@theme {
  --font-sans: var(--font-m-plus-rounded), sans-serif;
  --font-title: var(--font-zen-maru-gothic), sans-serif;
  --color-brown-light: #d07800;
  --color-brown-dark: #6f4000;
  --color-brown-middle: #a56f0c;
  --color-warning: #900521;
  --color-warning-hover: #ff365e;
  --color-warning-back: #d80000;

  --color-success: #258210;
  --color-success-back: #d8ffd0;

  --color-white-back: #ffffef;

  --color-brown-back: #fdf3dc;
  --color-note-gray: #888888;

  --color-accent-pink: #ff4f4f;
  --color-accent-pink-back: #ffd5c7;

  --color-accent-brown-back: #fef0b5;
  --color-green-back: #feffd8;
  --color-green-accent: #6c6c00;

  --color-line-gray: #cccccc;
  --color-disabled-back: #eeeeee;
  --color-disabled-text: #aaaaaa;

  --color-accent-orange: #ffa600;
  --color-accent-orange-back: #fdefca;
  --color-accent-orange-radio: #e87116;

  --color-remove: #cd193d;
  --color-remove-back: #ffeee1;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}
