@import "tailwindcss";

/* 全体の変数定義 */
:root {
  --background: #ffffe7;
  --foreground: #333333;
}

/* tailwind用の変数定義 */
@theme {
  --font-sans: var(--font-m-plus-rounded), sans-serif;
  --font-title: var(--font-zen-maru-gothic), sans-serif;
  --color-brown-light: #d07800;
  --color-brown-dark: #6f4000;
  --color-brown-middle: #a56f0c;
  --color-warning: #900521;
  --color-success: #258210;
}

body {
  background: var(--background);
  color: var(--foreground);
}
